@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

:root{
    --main-color: #ff9f0d;
    --Main-text-color: #542B12;
    --other-text-color: #0B3954;
    --other-color: #000;
    --second-color: #f6f6f6;
    --bg-color: #FFFFFF;

    --bif-font: 2.1rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all 0.5s ease;
}

.Logo{
    display: flex ;
    align-items: center;
    color: var(--Main-text-color);
    font-size: 33px;
    font-weight: 700;
}

.Logo i{
    color: var(--main-color);
    vertical-align: middle;
    margin-right: 5px;
}

.nav-list{
    display: flex;
}

.nav-list a{
   color: var(--text-color);
   font-size: var(--p-font);
   font-weight: 600;
   margin: 0 30px;
   transition: all 0.5s ease;
}

.nav-list a:hover{
    color: var(--main-color);
}

.nav-list a.active{
    color: var(--main-color);
}

.nav-icons{ 
    display: flex; 
    align-items: center;
    padding: 8 px 15px;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
}

.nav-icons i{
    vertical-align: middle;
    color: var(--bg-color);
    font-size: 25px;
    margin-right: 8px;
    margin-left: 5px;
    transition: all 0.5s ease;
}

#menu-icon{
    display: none;
    font-size: 32px;
    color: var(--bg-color);
    cursor: pointer;
    z-index: 100001;
    display:none;
}

.nav-icons i:hover{
    color: var(--text-color);
    transform: scale(1.1);
}

/* Home */

section{
    padding: 190px 24% 10px; 
}

.home{
    position:relative;
    height: 100vh;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
}

.home-img img{
    width: 100%;
    height: auto;
}

.home-text h1{
    font-size: var(--bif-font);
    font-weight: 5000;
    line-height: 0.92;
    margin-bottom: 4rem;
}
span{
    color:var(--main-color)
}

.btn{
    display:inline-block;
    padding: 5px 15px; 
    background-color: var(--main-color);
    color:var(--bg-color);
    font-size:var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius:2rem;
    transition: all 0.5 ease;
}

.btn i{
    vertical-align: middle;
    margin-left: 9px;
    font-size: 22px;
}

.btn:hover{
    background:rgb(48, 28, 162);
    color:var(--other-color);
    box-shadow: #ff9f0d;
    transform: translate(3px);
}

header.sticky {
    padding: 12px 14%;
    background: var(--second-color);
}

/*Footer 
.NombreEmpresa{
    top:100;
    padding: 12px 14px;
    align-items:end;
    display: flex;
}   

header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all 0.5s ease;
}

*/
