@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

:root{
    --main-color: #ff9f0d;
    --Main-text-color: #542B12;
    --other-text-color: #0B3954;
    --other-color: #000;
    --second-color: #f1f1f1e9;
    --bg-color: #FFFFFF;

    --bif-font: 2.1rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
}

body{
    background-color: var(--second-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index:100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all 0.5s ease;
}

.Logo{
    display: flex ;
    align-items: center;
    color: var(--Main-text-color);
    font-size: 33px;
    font-weight: 700;
}

.Logo i{
    color: var(--main-color);
    vertical-align: middle;
    margin-right: 5px;
}

.nav-list{
    display: flex;
}

.nav-list a{
   color: var(--text-color);
   font-size: var(--p-font);
   font-weight: 600;
   margin: 0 30px;
   transition: all 0.5s ease;
}

.nav-list a:hover{
    color: var(--main-color);
}

.nav-list a.active{
    color: var(--main-color);
}

.nav-icons{ 
    display: flex; 
    align-items: center;
    padding: 8 px 15px;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
}

.nav-icons i{
    vertical-align: middle;
    color: var(--bg-color);
    font-size: 25px;
    margin-right: 8px;
    margin-left: 5px;
    transition: all 0.5s ease;
}

#menu-icon{
    display: none;
    font-size: 32px;
    color: var(--bg-color);
    cursor: pointer;
    z-index: 100001;
    display:none;
}

.nav-icons i:hover{
    color: var(--text-color);
    transform: scale(1.1);
}


/* home */
.homeNosotros{
    padding: 25px 14% 60px;
    position:relative;
    height: 100vh;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
}

.Historia-head{
    padding: 50px 8% 2px;
}

.uno{
    padding: 50px 8% 2px;
}

header.sticky {
    padding: 12px 14%;
    background: var(--second-color);
}

.btn-n{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 3rem;
    font-size: var(--p-font);
    font-weight: 600;
    transition: all 0.5s ease;
}

.btn-n:hover{
    background: var(--other-color);
    color: var(--bg-color);
    transform: scale(1.1);
}
/*conteiner*/

.Historia{
    padding: 60px 3% 60px;
    align-items: right;
    color:var(--other-text-color);
}
span{
    color:var(--main-color)
}

.info{
    padding: 10px 3% 60px;
    display: grid;
    grid-template-columns: repeat(2,5fr);
    font-size: 1rem;
    color: #5C676D;
    text-align: center;
}

#EleF{
    color: #5C676D; 
    text-align: center;
}

/*<!-- V y M -->*/

.mvv{
    padding: 60px 3% 60px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(2, 4fr); 
}

.mv{
   width:170%; 
}


.mv{
    border-radius: 6px;
    border-style:hidden;
    background: var(--bg-color);
    color: #5C676D;
    padding:60px; 
    text-align:justify;
    font-size: 0.7rem;
}

.dos{
    color:var(--other-text-color);
    padding:17px;
}

.v{
    border-radius: 6px; 
    background: var(--other-text-color);
    color:var(--bg-color);
    text-align: center; 
    padding: 80px;
    font-size: 1.2rem;
    font-weight: 400;
}


/*footer*/
.footer{
    padding: 60px 3% 60px; 
    align-items: center;
}



.listafinal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 0.9rem;
    color: var(--other-text-color);
}

.Fn{
    color: var(--other-color);
    font-weight: 700;
}

.MainName{
    text-decoration:underline;
    color:var(--Main-text-color);
    font-size: 2rem;
}
