/* stylen.css — estilos específicos de nosotros.html */ 

/* home */
.homeNosotros{
    padding: 25px 14% 60px;
    position:relative;
    height: 100vh;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
}

.Historia-head{
    padding: 50px 8% 2px;
}

.uno{
    padding: 50px 8% 2px;
}

.btn-n{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 3rem;
    font-size: var(--p-font);
    font-weight: 600;
    transition: all 0.5s ease;
}

.btn-n:hover{
    background: var(--other-color);
    color: var(--bg-color);
    transform: scale(1.1);
}

/*conteiner*/
.Historia{
    padding: 60px 3% 60px;
    align-items: right;
    color:var(--other-text-color);
}

.info{
    padding: 10px 3% 60px;
    display: grid;
    grid-template-columns: repeat(2,5fr);
    font-size: 1rem;
    color: #5C676D;
    text-align: center;
}

#EleF{
    color: #5C676D; 
    text-align: center;
}

/*<!-- V y M -->*/
.mvv{
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    width: 95%;
} 

.mv{
    border-radius: 6px;
    background: var(--bg-color);
    color: #5C676D;
    padding:60px; 
    text-align:justify;
    font-size: 0.7rem;
    border-radius: 30px;
}

.dos{
    color:var(--other-text-color);
}

.v{
    background: var(--other-text-color);
    color:var(--bg-color);
    text-align:center;
    height: 100%;
    font-size: 1.1rem;
    width: 80%;
    box-sizing: border-box;
    margin-left: 30%;
    border-radius: 30px;
}
