/* style.css — estilos específicos de index.html */

/* ── Body del index ── */
body {
    background-color: var(--second  -color);
    color: var(--Main-text-color);
}

/* ── Sección base ── */
section {
    padding: 190px 24% 10px;
}

/* ──  principal ── */
.Home {
    padding: 0;
    position: relative;
    width: 100%;
    background-color: var(--Main-text-color);
    display: flex;
    align-items: stretch;
    min-height: 520px;
}

.home-card {
    position: relative;
    margin: 80px 5% 40px 5%;
    width: 100%;
    background-color: #D9C5A0;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    overflow: hidden;
    padding: 50px 5% 50px 5%;
    gap: 2rem;
}

.home-img {
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 0.8rem;
}

.home-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.8rem;
}

.home-text h1 {
    font-size: var(--bif-font);
    font-weight: 700;
    line-height: 0.92;
    margin-bottom: 1rem;
}

/* Sobrescribe hover  */
.btn:hover {
    background: var(--other-color);
    color: var(--bg-color);
    transform: scale(1.1);
}

/*   container ── */
.container {
    padding: 25px 14% 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    gap: 3rem;
    text-align: center;
}

.container-box {
    padding: 30px 12% 35px;
    color: var(--Main-text-color);
    border-radius: 2rem;
    background-color: var(--other-color);
}

.container-box:hover {
    background-color: var(--other-text-color);
    color: var(--other-color);
}

.container-box img {
    width: 100%;
    height: auto;
    max-width: 50px;
}

.container-box h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0;
}

.container-box h3:hover {
    color: rgb(48, 28, 162);
    transition: all 0.7s ease;
}

/* ──      ── */
.imgreales {
    padding: 40px 10% 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    gap: 4rem;
    text-align: center;
}

.cir {
    padding: 110px 20% 110px;
    border-radius: 3rem;
    color: var(--Main-text-color);
    background-color: var(--other-color);
}

.cir:hover {
    color: var(--other-color);
    background-color: var(--other-text-color);
}

/* ── Footer   ── */
.footer {
    padding: 60px 3% 60px;
}