<section class="footer">
    <div class="footer-box">
        <div class="ap-final">
            <h2 class="MainName">Rosquillas Reyes</h2>
            <ul class="listafinal">
                <li>
                    <p><br>Somos una empresa panificadora <br>
                        comprometida con ofrecer productos <br> de la más alta calidad, liderando<br>siempre las
                        mejores tendencias del <br> momento.</p><br><br>
                </li>
                <li>
                    <p><span class="Fn">Productos destacados</span></p>
                    <a class="MainProducts"><br> Rosquillas <br><br>Hojaldras <br><br>Cosas de horno <br><br> Rosquetes</a>
                </li>
                <li>
                    <a><span class="Fn">HORARIOS</span> <br><br>LUNES A VIERNES <br> 6:00 A.M. - 9:00 P.M.
                        <br>DOMINGO Y SABADOS<br>7:00 A.M. - 9:00 P.M.</a>
                </li>
                <li>
                    <p><span class="Fn">CONTÁCTENOS
                        </span><br><br>+505 8250 1265 <br>+505 2344 0258 <br><br> De la estación de policía 2 <br>cuadras al Sur, El Viejo, <br>Nicaragua</p>
                </li>
            </ul>
        </div>
    </div>
</section>
